<section class="bg-orange-100 text-black justify-center" id="invitation">
    <div class="flex flex-col xl:flex-row max-w-[1800px] w-full mx-auto gap-16">
        <div
            class="flex flex-col items-center justify-center w-full min-h-16 mx-auto [&>span]:text-8xl [&>span]:font-bold [&>span]:text-orange-700 title"
        >
            <span class="first">Â¿</span>
            <div class="text-center">
                <h3 class="text-5xl text-balance font-extrabold">
                    Quieres hacer parte
                </h3>
            </div>
            <span class="last">?</span>
        </div>
        <div class="flex flex-col w-full gap-8">
            <p class="text-md text-balance text-center h-fit">
                Suscribete, y vive una experiencia con amigos sobre ruedas
                visiando partes del pais
            </p>
            <div
                class="flex flex-col sm:flex-row items-center justify-center h-content gap-4"
            >
                <input
                    type="text"
                    placeholder="Ingresa tu correo"
                    class="min-h-10 w-full max-w-[500px] px-4 rounded-md"
                />
                <button
                    type="button"
                    id="btnInvitation"
                    class="transition duration-500 px-4 py-2 w-full sm:w-fit rounded-md bg-orange-600 text-white border-2 border-orange-600 hover:bg-orange-100 hover:text-orange-600 hover:font-semibold hover:border-2 hover:border-orange-600 border-box"
                    >Suscribir</button
                >
            </div>
        </div>
    </div>
</section>

<style>
    section {
        padding: 40px 55px;

        .title {
            display: flex;
            flex-direction: row;
            @apply gap-4;
        }

        button:disabled {
            cursor: not-allowed;
            @apply bg-orange-50 text-gray-500 border-gray-500;
        }
    }
</style>

<script>
    import JSConfetti from "js-confetti";
    const invitation = document.getElementById("invitation") as HTMLDivElement;

    const input = invitation.querySelector("input") as HTMLInputElement;
    const btn = invitation.querySelector("#btnInvitation") as HTMLButtonElement;

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    btn?.addEventListener("click", async () => {
        btn.disabled = true;

        const confetti = new JSConfetti();

        const valueInput = input.value.trim();

        if (!emailRegex.test(valueInput)) {
            alert("Por favor, ingresa un correo valido");
            btn.disabled = false;
            return;
        }

        const res = await fetch("/api/subscribe", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ email: valueInput }),
        });

        if (res.ok) {
            confetti
                .addConfetti({
                    emojis: ["ðŸï¸", "ðŸ§³", "âœ¨", "ðŸ¥³", "ðŸï¸"],
                    emojiSize: 60,
                    confettiNumber: 100,
                })
                .finally(() => {
                    confetti.clearCanvas();
                    input.value = "";
                    btn.disabled = false;

                    alert(
                        "Gracias por suscribirte a nuestra comunidad de viajeros ðŸ¥³âœ¨",
                    );
                });
        } else {
            alert(res.statusText);
            btn.disabled = false;
        }
    });
</script>
