---
import Image from "astro/components/Image.astro";

interface Cards {
    class: string,
    src: string;
    alt: string;
    p: string;
}

const {
    src, alt, p, class: className
} = Astro.props
---
<div class={className}>
    <div class="w-full h-full">
        <Image src={src} alt={alt} />
        <p>{p}</p>
    </div>
</div>