---
---
<div class="max-h-10 content flex justify-between w-full max-w-screen-2xl py-4 px-4 mx-auto">
    <a href="/" class="flex nav items-center gap-2 ">
        <img src="/favicon.svg" alt="the page icon">
        <h2 class="text-xl font-semibold text-orange-100">Paseo 2025</h2>
    </a>
    <div class="flex items-center gap-2 text-xs count">
        invitados: <span class="px-4 rounded-2xl text-center bg-orange-100 font-medium text-orange-600 text-2xl">4</span>
    </div>
</div>

<style>
    .content {
        display: grid;
        align-items: center;
        grid-template-columns: max-content 1fr max-content;
    }

    .nav {
        grid-column: 1 / 2;
    }

    .count {
        grid-column: 3 / 4;
    }
</style>