---
interface Section {
    class: string;
}

const { class: className } = Astro.props;
---

<section class={"min-h-screen " + className}>
    <slot />
</section>

<style>
    section {
        @apply bg-gradient-to-b from-orange-600 via-orange-500 to-orange-400;
    }
</style>
